<div>
    <form name="selectSeasonAndGroup">
        <!--
    <div class="dropdown" name="selectSeason">
      <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{season?.name}} {{season?.year}}
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a *ngFor="let season of roundtable.seasons" class="dropdown-item" (click)="seasonSelected(season)">{{season.name}} {{season.year}}</a>
      </div>
    </div>
    -->
        <label for="selectSeason" class="form-label">Meisterschaft auswählen:</label>
        <select name="selectSeason" class="form-control form-control-sm" (change)="seasonSelected($event)">
            <option *ngFor="let season of roundtable.seasons" [value]="season.id">
                {{season.name}} {{season.year}}
            </option>
        </select>
        <div *ngIf="roundtable?.groups?.length > 1">
            <label for="selectGroup" class="form-label">Gruppe auswählen:</label>
            <select name="selectGroup" class="form-control form-control-sm" (change)="groupSelected($event)">
                <option *ngFor="let group of roundtable.groups" [value]="group.id">
                    {{group.name}}
                </option>
            </select>
        </div>
        <label for="selectRound" class="form-label">Runde auswählen:</label>
        <select name="selectRound" class="form-control form-control-sm" (change)="roundSelected($event)">
            <option *ngFor="let round of roundtable.rounds" [value]="round.id" [selected]="roundtable.selectedRound.id == round.id">
                {{round.index}}. Spieltag / {{round.dateTime | date: 'dd.MM.yyyy'}}
            </option>
        </select>
    </form>

    <div *ngIf="roundtable.table">
        <h1>{{roundtable.table.roundJson.seasonName}} {{roundtable.table.roundJson.seasonYear}}</h1>
        <table class="table table-striped table-sm">
            <thead>
                <tr>
                    <th scope="col" style="text-align:right">Datum</th>
                    <th scope="col" style="text-align:right">Heimmannschaft</th>
                    <th scope="col" style="text-align:center">Ergebnis</th>
                    <th scope="col" style="text-align:left">Gastmannschaft</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let game of roundtable.table.roundJson.games">
                    <td style="text-align:right">{{game.dateTime | date: dateTimeFormat}}</td>
                    <td style="text-align:right">
                        {{game.homeTeam.name}}
                        <img class="teamlogo" src="{{game.homeTeam.logo}}">
                    </td>
                    <td style="text-align:center">
                        <app-gameresult [game]="game" [halfTime]="true"></app-gameresult>
                    </td>
                    <td style="text-align:left">
                        <img class="teamlogo" src="{{game.guestTeam.logo}}">
                        {{game.guestTeam.name}}
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <!-- TODO Currently disabled. Check the drop down box above!
    <div class="btn-group btn-group-justified" role="group">
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="last(round)" ng-show="round.index > 1">Letzter</button>
      </div>
      <div class="btn-group" role="group">
        <button class="btn btn-default" type="submit" ng-click="next(round)" ng-show="!round.lastRound">Nächster</button>
      </div>
    </div>
    -->

    <!--
    <div class="alert alert-danger" ng-show="round.serviceResponseMessage.status == 'ERROR'">
      FEHLER: Dieser Spieltag existiert nicht!
    </div>
-->
    <div *ngIf="roundtable.table">
        <table class="table table-striped table-sm">
            <thead>
                <th scope="col">Pos</th>
                <th scope="col">Team</th>
                <th scope="col">Punkte</th>
                <th scope="col">Tore</th>
                <th scope="col">g:r:v</th>
            </thead>
            <tbody>
                <tr *ngFor="let teamResult of roundtable.table.groupTeamTableJsons.teamResultJsons; index as i" [ngClass]="getColor(i)">
                    <td>{{teamResult.tablePosition}}</td>
                    <td>
                        <img class="teamlogo" src="{{teamResult.team.logo}}">
                        {{teamResult.team.name}}
                    </td>
                    <td>{{teamResult.win * 3 + teamResult.remis}}</td>
                    <td>{{teamResult.posGoals}}:{{teamResult.negGoals}}</td>
                    <td>{{teamResult.win}}:{{teamResult.remis}}:{{teamResult.lost}} </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>