/* You can add global styles to this file, and also import other style files */
html {
    position: relative;
    min-height: 100%;
}

body {
    /* Margin bottom by footer height */
    margin-bottom: 60px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 60px;
    line-height: 60px; /* Vertically center the text there */
    background-color: #f5f5f5;
  }

  
body > .container {
    padding: 60px 15px 0;
}
  
.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}
  
code {
    font-size: 80%;
}
